/*===============styling for issue.html===============*/

#projectTitle {
  padding: 21px;
  font-size: 52px;
  color: #555;
  margin-top: 3.5%;
  margin-bottom: 0;
  color: #f8f8f8;
  background: rgba(0, 0, 0, .1); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#issueDisplay {
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 35px;
}

.issue {  
  margin: 10px;
  padding: 15px;
  width: 30%;
  border-radius: 15px;
  border: 2px solid #f8f8f8; 
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 2px 2px 3px 0px #a48bb5;  
}

.closed {
  border: 2px solid #333;
  background-color: rgba(0, 0, 0, .1);
  opacity: .7;
}

.id {
  margin: 2px;
  margin-bottom: 0;
  padding: 1px;
  color: #555;
  background-color: rgba(255, 255, 255, .3);
  font-size: 11px;
}

.id-code {
  margin: 2px;  
  padding: 5px;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, .2);=
  transition: .2s;
}

.issueTitle {
  margin: 2px;
  margin-bottom: 0;
  padding: 2px;
  color: #555;
  background-color: rgba(255, 246, 221, 1);  
}

.issueText {
  margin: 2px;
  margin-bottom: 0;
  padding: 2px;
  color: #555;
  background-color: rgba(255, 246, 221, 1); 
  font-size: 13px;
}

.closeIssue {
  margin-right: 2px;
  padding: 5px;
  color: #555;
  font-size: 11px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .4);;
  background-color: #fff;
  text-decoration: none;
  transition: .2s;
}

.closeIssue:hover {
  color: #fff;
  background-color: #555;
  transition: .2s;
}

.deleteIssue {
  margin-left: 2px;
  padding: 5px;
  color: #ff5e5e;
  font-size: 11px;
  border-radius: 5px;
  border: 1px solid #ff5e5e;
  background-color: #fff;
  text-decoration: none;
  transition: .2s;
}

.deleteIssue:hover {
  color: #fff;
  background-color: #ff5e5e;
  transition: .2s;  
}

/*====================================styling for index.html====================================*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #222;
	text-align: center;
	line-height: 1.4em;
  /*background: #616a72;*/
  /*background: #000a15;*/
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #a941ff;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 220px;
  text-align: center;
}


#title h1{
  color: #555;
  margin: 3.5%;
  font-size: 52px;
}

#title h6{
  color: #fff;
  margin-bottom: -2.5%;
  font-size: 22px;
}

.container {
  padding: 0;
  max-width: 1180.5px;
  margin: 0 auto;
}

#content {
  color: #ececec;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 15px;  
  background: rgba(0, 0, 0, .1);
  /*background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section {
  color: #000;
  margin: 5px;
  padding: 0px 15px 15.5px 15.5px;
  border-radius: 7px;
  background: #fff6dd;
}

.section h2 {
  color: #555;
  padding: 5px;
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
}

#apiTest a {
  transition: 0.2s;
}

#apiTest a:hover {
  color: #fff;
  transition: 0.2s;
}

.section h3 {
  color: #555;
  padding: 2px;
  background: rgba(255, 255, 255, .8);
}

.section p {
  font-family: monospace;
  font-size: 16px;
}

.user-stories {
  font-family: monospace;
  font-size: 11px;
  position: relative;
  text-align: justify;
  max-width: 1160px;
  margin: 10px 10px 0px 0px;
  padding-left: 10px;
}

.examples {
  margin: 10px 10px 0px -30px;
  font-family: monospace;
  position: relative;
  text-align: justify;
}

.examples li {
  margin-top: 1em;
}

.returned {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 676.5px;
}

.returned code {
  font-family: monospace;
  font-size: 12px;
  word-wrap: break-word;
}


#testui {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.output {
  display: none;
  margin-top: 20px;
  padding: 15px;
  border-radius: 7px;
  flex-wrap: wrap;
  justify-content: center;  
  background: rgba(0, 0, 0, .1);
  transition: .5s;
}

#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  font-size: 14px;
  max-width: 300px;
}

#json {
  margin: 0;
  display: flex;
  font-size: 12px;
  flex-wrap: wrap; 
  max-width: 300px;
}

#jsonResult {
  word-wrap: break-word;
}


code {
  color: #ab00ff;
  border: 1px solid #a076c5;
  border-radius: 5px;
  padding: 0px 3px 0px 3px;
  background-color: #ececec;
  box-shadow: 1px 1px 2px 0px #a48bb5;
}

.sub-section {
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  background: rgba(0, 0, 0, .1);
  max-width: 250px;  
}

.sub-section p {
  max-width: 220px; 
  font-size: 10px;
}

.submit {
  margin-top: 50px;
  height: 253px;
}

.update {
}

.delete {
  margin-top: 135px;
  height: 77px;
}

.next {
  margin: 15px;
}

.next p {  
  color: rgba(0, 0, 0, .1);
  font-size: 167.5px;
}


form {
  border: 2px solid transparent;
  background: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  transition: .2s;
}

form label {
  font-size: 12px;
}

#testForm {
}

#testForm2 {
}

#testForm3 {
}


#testForm2 input[type=submit]:hover {
  color: #71bc40;
  border: 2px solid #71bc40;
  background-color: #f4f9ff;
  transition: .2s;  
}


#testForm3 input[type=submit]:hover {
  color: #ff8c8c;
  border: 2px solid #ff8c8c;
  background-color: #f4f9ff;
  transition: .2s;  
}

#testForm:hover {
  background: rgba(201, 140, 255, .5);
  transition: .2s;
}

#testForm2:hover {
  background: rgba(135, 216, 82, .5);
  transition: .2s;
}

#testForm3:hover {
  background: rgba(255, 140, 140, .5);
  transition: .2s;
}


input[type=text]  {
  margin: 5px;
  width: 200px;
  font-size: 12px;
  padding: 4.5px;
  color: #0b1928;  
  background-color: #f4f9ff;
  border-radius: 5px 5px 5px 5px;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
/*border-right: none;*/
  outline: none;
}

input[type=text]:active, input[type=text]:focus {
  border: 1px solid #c98cff;
  /*border-right: none;*/
  color: #0b1928; 
  box-shadow: 0px 0px 0px 3px #DAE2F8;
  transition: .2s;
  outline: none;
}

textarea {
  margin: 5px;
  width: 200px;
  height: 45px;
  font-size: 12px;
  padding: 4.5px;
  color: #0b1928;  
  background-color: #f4f9ff;
  border: 1px solid #c98cff;
  border-radius: 5px 5px 5px 5px;
  border-color: rgba(0, 0, 0, .4);
 /*border-right: none;*/
  outline: none;
}

textarea:active, textarea:focus {
  border: 1px solid #c98cff;
  /*border-right: none;*/
  color: #0b1928;
  background-color: #fff;  
  box-shadow: 0px 0px 0px 3px #DAE2F8;
  transition: .2s;
  outline: none;
}

input[type=text]::placeholder, textarea::placeholder  {
  color: rgba(0, 0, 0, .4);
}

input[type=submit]  {
  color: #f4f9ff;
  width: 215px;
  font-weight: bold;
  margin: 5px auto; 
  border-radius: 5px 5px 5px 5px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
  border: 2px solid #c98cff;  
  background-color: #333;
  transition: .2s;
}

input[type=submit]:hover {
  color: #333;
  border: 2px solid #c98cff;
  background-color: #f4f9ff;
  transition: .2s;  
}

input[type=submit]:active, input[type=submit]:focus {
  border: 2px solid #c98cff;
  box-shadow: 0px 0px 0px 5px #DAE2F8;
  transition: .2s;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  border-width: 0px;
  border-bottom: 2px #a076c5 solid;
  background: transparent;
  transition: .15s;
}

button:hover {
  transition: .15s;
  border-bottom: 2px #fff solid;
}

button a {  
  color: #fff;
  text-decoration: none;
  transition: .15s;
}

button a:hover {
  color: #a076c5;
  transition: .15s;
}

#footer {
  font-family: monospace;
  max-width: 1180.5px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  background: rgba(0, 0, 0, .1);
}
 
#footer h5 {
  margin-top: 0;
  font-size: 12px;
  color: #555;
}
#footer a {
  color: #9116ff;
  transition: 0.2s;
  text-decoration: none;
}
#footer a:hover {
  color: #fff;
  transition: 0.2s;
}


::-webkit-scrollbar {
  background: #DAE2F8;
  width: 10px;  
}

::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {  
  background: rgba(0, 0, 0, .2);
  border-radius: 15px;
}


@media (max-width: 1280px) {
  body {
    transform: scale(.85, .85);
  }
 
}

@media (max-width: 960px) {
  body {
    font-size: 10px;
  }
  #title h1{
    margin: 3.5%;
    font-size: 32px;
  }
  #title h6{
   margin-bottom: -2.5%;
    font-size: 14px;
  }
    h1 {
      font-size: 2em;
    }
  }
